.about-container {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: #333;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #6a0dad;
}
.description {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #2a2431;
}
.section {
    background-color: #dfc7c7;
    padding: 2rem;
    margin-bottom: 2rem;
}
.features-list {
    list-style: none;
    margin-bottom:2rem;
    padding: 0;
}  
.features-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #6a0dad;
}
.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

.features-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}
.feature-description {
    font-size: 1rem;
    margin-bottom: 0;
    color: #6d6d6d;
}
.technology-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.technology-item {
    font-size: 16px;
    background-color: #00b4cc;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contact.details {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}
.contact-details {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.contact-info {
    margin-bottom:0.5 rem;
    font-size:1.2rem;
    color: #424242;
}
/*Sliding Animations*/
@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animation-slide-up {
    animation: slide-up 1s ease-in-out;
}